//dvariables for buttons
$default: black;
$alt: blue;
$tert: red;

$border-width: 2px;
html {
	[class*="btn"], button, .button, input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		display: inline-block;
		font-family: $font__main;
		font-size: .85rem;
		font-weight: bold;
		margin: .5rem;
		padding: .6em .9em;
		color: $color__white;
		/* Button reset */
		text-shadow: none;
		text-transform: uppercase;
		transition: all .5s ease;
		&:hover {
			text-decoration: none;
			color: $color__white;
		}
	}



	[class*="btn-default"], input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		$color: $default;
		background-color: $color;
		border: solid $border-width $color;
		&:hover {
			$color: lighten($color, 20%);
			background-color: $color;
			border: solid $border-width $color;
			text-decoration: none;
		}
	}

	[class*="btn-alt"] {
		$color: $alt;
		background-color: $color;
		border: solid $border-width $color;
		color: $color__white;
		&:hover {
			$color: lighten($color, 20%);
			background-color: $color;
			border: solid $border-width $color;
			text-decoration: none;
		}
	}

	[class*="btn-tert"] {

		$color: $tert;
		background-color: $color;
		border: solid $border-width $color;
		color: $color__white;
		&:hover {
			$color: lighten($color, 20%);
			background-color: $color;
			border: solid $border-width $color;
			text-decoration: none;
		}
	}

	[class*="btn-default-o"] {
		$color: $default;
		background-color: transparent;
		border: solid $border-width $default;
		color: $default;
		&:hover {
			background-color: $color;
			border: solid $border-width $color;
			text-decoration: none;
		}
	}

	[class*="btn-alt-o"] {
		$color: $alt;
		background-color: transparent;
		border: solid $border-width  $color;
		color:  $color;
		&:hover {
			background-color: $color;
			border: solid $border-width $color;
			text-decoration: none;
		}
	}

	[class*="btn-tert-o"] {
		$color: $tert;
		background-color: transparent;
		border: solid $border-width  $color;
		color:  $color;
		&:hover {
			background-color: $color;
			border: solid $border-width $color;
			text-decoration: none;
		}
	}

}