html {
	line-height: 1.15;
	height: 100%;
	/* Older browsers */
	font-size: 16px;
	overflow-x: hidden;

	/* Modern browsers only need this one */
	//test with site wide scaling typography
	@media screen and (min-width: 25em) {
		/*
		Controls the rate of growth of the font size the format is.
		calc (min--font-size + (max-font-size - min-font-size) * (Full width of viewport - min-win-size) / (max-win-size - min-win-size))
		however the calculation does not stop the font size from growing at the "max window size" but that is easily remedied with a  media query.
		 */
		font-size: calc(16px + (23 - 16) * (100vw - 500px) / (1680 - 500));
	}
	@media screen and (min-width: 1680px) {
		font-size: 23px;
	}
}

body {

	color: $color__grey;
	overflow-x: hidden;
	max-width: 1400px;
	margin: 0 auto;
	box-shadow: 0 0 100px 0px rgba(0, 0, 0, 0.05), 0 0 25px 0px rgba(0, 0, 0, 0.05);
	font-family: 'Muli', avenir, 'avenir next', helvetica, arial, sans-serif; /* 'Muli' is the Google Font alternative to Avenir that is being used for Open Books. Avenir will remain as a Mac system font fallback. */
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1 0 auto;
}

figcaption {
	color: $color__grey;
}
//tets
hr {
	border-top: 1px solid $color__grey;
	border-bottom: 1px solid $color__grey;
}

h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {
	font-size: 3.333333333rem;
	// color: #fff;
	font-weight: 700;
}

h2 {
	font-size: 2.5rem;
	color: $color__grey;
}

h3 {
	font-size: 1.666666667rem;
	color: $color__orange;
}

h4 {
	font-size: 1.666666667rem;
	//color: #fff;
}

h5 {
	font-size: 1.041666667rem;
	color: #000;
}

h6 {
	font-size: .75rem;
	color: #000;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: inherit;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p.description {
	color: #fff;
}

p.small {
	font-size: .75rem;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

abbr[title],
abbr[data-original-title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
}

address {
	margin-bottom: .666666667rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1rem;
	color: $color__grey;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
	float: left;
	text-align: right;
	padding: .25em;
	clear: left;
}

dd {
	float: left;
	padding: .25em 0;
}

dl:after {
	content: "";
	display: table;
	clear: both;
}

blockquote {
	margin: 0 0 1rem;

}

blockquote p {
	font-size: 1.4rem;
	font-weight: 400;
	quotes: '"' '"' "'" "'";
	&:last-child {
		margin-bottom: 0;
	}
}

blockquote p::before {
	content: open-quote;
}

blockquote p:after {
	content: close-quote;
}

cite {
	font-size: 1rem;
	margin-left: 25px;
}

dfn {
	font-style: italic;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

a {
	font-weight: 700;
	//insert client color here via variable
	color: $color__grey;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover {
	//insert client color here via variable
	color: $color__orange;
	text-decoration: none;
}

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
	outline: 0;
}

mark {
	background: rgba(251, 131, 15, 0.6);
	color: #fff;
}

pre,
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

figure {
	margin: 0 0 1rem;
}

img {
	vertical-align: middle;
	border-style: none;
}

iframe {
	border: none;
}

svg:not(:root) {
	overflow: hidden;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

table {
	border-collapse: collapse;
	width: 100%;

}

caption {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-left: 50px;
	color: #868e96;
	text-align: left;
	caption-side: bottom;
	font-style: italic;
}

th {
	//ill come back to these when i style the table anyway they need responsiveness in general
	text-align: inherit;
	font-size: 1rem;
	font-weight: 400;
	color: $color__orange;
	background: #fff;
	padding-bottom: 0;
	width: 27.5%;
	padding-left: 25px;
}

th:first-child {
	width: 17.5%;
}

td, tr {
	font-size: .8rem;
	color: $color__grey;
	padding: 24px 25px 25px 25px;
}

td {
	width: 27.5%;
	vertical-align: top;
}

td:first-child {
	width: 17.5%;
}

td:last-child {
	padding: 24px 0 50px 25px;
	vertical-align: top;
}

tr:nth-child(even) {
	background: $color__light-grey;
}

tfoot th {
	font-size: 1rem;
}

form ul {
	list-style-type: none;
	font-weight: 400;
	padding-left: 0;
}

label {
	display: block;
	margin-top: 1.5rem;
	margin-bottom: .2rem;
}

button {
	border-radius: 0;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	font-weight: 700;
	background: $color__orange;
	color: #fff;
	border-radius: 10px;
	padding: 5px 40px;
	border: 1px solid $color__orange
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
	height: 1.375rem;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: listbox;
}

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: .5rem;
	font-size: 1rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
	display: inline-block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none !important;
}

::selection {
	background: rgba(251, 131, 15, 0.6);
	color: #fff;
}

::-moz-selection {
	background: rgba(251, 131, 15, 0.6);
	color: #fff;
}

.full-col {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.half {
		text-align: center;
		padding: .5*$gutter;
	}
}

