.block.three_circles {


	/*content here*/
	.three_circles--content {
		@extend .col-md-12;
		text-align: center;
	}
	.three_circles--title {
		font-size: 3.2rem;
		font-weight: bold;
		margin-bottom: 2.75rem;
	}
	h2 {
		text-align: center;
	}
	img {
		border-radius: 50%;
		margin-bottom: 1.6rem;
	}
	.circles-wrapper {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -0.5 * $gutter;
		$halfgutter: $gutter * 0.5;
		width: calc(100% + #{$gutter});
		.single-circle-wrapper {
			width: calc(100% / 3);
			width: calc(33.33333333%);
			padding: 0 $halfgutter 2.75rem;
			text-align: center;
			@media (max-width: $bp_phone) {
				width: calc(60%);
				margin: 0 auto;
			}
		}
		.label {
			@media (max-width: 800px) {
				font-size: 18px;
			}
		}
	}
	.circle-link:hover img {
		box-shadow: 0 0 10px 0 rgba(125, 125, 125, .5);
	}
	.copy {
		text-align: center;
		max-width: 650px;
		margin: 0 auto 1.6rem;
		display: block;
		font-size: .8rem;
		*:last-child {
			margin-bottom: 0;
		}
	}
	.button {
		text-align: center;
		width: auto;
	}
}
			