.block.text_and_icons {

  /*content here*/
  .text_and_icons--content {
	  @extend .col-md-12;
		text-align: center;
  }
  
  .icons-wrapper {
	  @extend .col-md-12;
	  display: -webkit-flex;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  margin: 2.5rem -0.5 * $gutter 0;
	  $halfgutter: $gutter * 0.5;
	  width: calc(100% + #{$gutter});
	  .icons-text-wrapper {
		  width: 22.5%;
		  text-align: center;
		  @media (max-width: $bp_tablet) {
			width: 45%;
			padding-bottom: 2.5rem;
		  }
		  @media (max-width: $bp_phone) {
			width: 60%;
			margin: 0 auto;
		  }
		  img {
			  border-radius: 50%;
		  }
		  h3 {
			  margin-top: .75em;
		  }
		  p {
			  
		  }
		  p.small {
		  	a {
			  	display: inline-block;
			  	margin-top: .75em;
		  	}
		  }
	  }
  }
  
  
  
}
			