.block.billboard {
	padding: 0;
	background-size: cover;
	position: relative;
	min-height: 500px;
	height: calc(100vh - 6.3rem);
	max-height: 800px;
	@media (max-width: $bp_phone) {
		min-height: 500px;
	}
	.outer-block-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.inner-block-wrapper {
		height: 100%;
		text-align: center;
		//ヾ(＾∇＾): Are these margins needed?  maybe you just dont need to extend row at all if you are not using bstrp columns within it.
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/*content here*/
	.billboard--title {
		color: $color__white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: 0 0 75px rgba(0, 0, 0, .5);
	}
	p {
		color: $color__white;
	}
	.billboard--content {
		@extend .col-md-12;
		@media (min-width: $bp_phone) {
			width: 85%;
		}
		margin: 0 auto;
		padding: 1.25rem 0 1.4rem;
		//test
	}
	.filter {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background: rgba(0, 0, 0, .33);

	}
}