.block.photo_cards {
	&.accent-green h3 {
		color: $color__green;
	}
	&.accent-orange h3 {
		color: $color__orange;
	}
	&.accent-purple h3 {
		color: $color__purple;
	}
	&.accent-yellow h3 {
		color: $color__yellow;
	}
	.outer-block-wrapper {
		@extend .container
	}
	.inner-block-wrapper {
		@extend .row;
	}
	/*content here*/
	.photo_cards--content {
		@extend .col-md-12;
	}
	h5 {
		color: $color__grey;
		margin: 0;
	}
	p {
		margin-bottom: .25rem;
	}
	.photo-cards-wrapper {
		padding-top: 3rem;
		@media (min-width: $bp_tablet) {

			column-count: 2;
			column-gap: $gutter;
		}
		.single-card-wrapper {
			width: 100%;
			//float: left;
			//	width: calc(50% - (0.5 * #{$gutter}));

			overflow: hidden; /* Fix for firefox and IE 10-11  */
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid; /* IE 10+ */
			break-inside: avoid-column;

			display: flex;
			background-color: $color__light-grey;
			margin-bottom: $gutter;
			.image-wrapper {
				width: calc(100% / 3);
				width: 33.33333333%;
				background-size: cover;
				background-position: center;
				//margin-top: -25%;
				//
				// 	overflow-y: hidden;
			}

			.image-wrapper-inner {
				width: 100%;
			}

		}
		//keep
	}
	.text-wrapper {
		width: 66.666666666666%;

		break-inside: avoid;
		padding: .6rem;
		font-size: .8rem;
		background: $color__light-grey;
		//	padding: .25rem $halfgutter;
		h5, p, a {
			font-size: inherit;
		}
		p {
			line-height: 1.2;
		}
		h5 {
			margin-top: -.25em;
			display: block;
			font-weight: bold;
		}
	}

}

//protect image ratios.
//javascript it is.