.block.form {
  /*content here*/
	.form--content {
		@extend .col-md-12;
	}
  
  .gform_wrapper h3.gform_title {
	  font-weight: 400;
	  font-size: 1.6em;
  }
  .gform_wrapper span.gform_description {
	  color: $color__gray;
  }
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last,
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {
	  padding-top: 0;
  }
  .gform_wrapper ul.gform_fields {
	  margin: 0;
	  $halfgutter: $gutter * 0.5;
	  width: 100%;
	  padding: 0 0 2.75rem 0;
	  max-width: 700px;
  }
  .gform_wrapper ul.gform_fields li.gfield {
	  
  }
  .gform_wrapper ul.gform_fields li.gfield select {
	  height: 44px;
	  margin-top: 1px;
	  border: 0;
	  outline: 1px solid #ccc;
  }
  .gform_wrapper .gfield_radio li label {
	  margin: 5px 0 0 12px;
  }
  .gform_wrapper .gfield_checkbox li label {
	  margin: 5px 0 0 4px;
  }
  .gform_wrapper .top_label {
	  input[type="text"],
	  input[type="email"],
	  input[type="url"],
	  input[type="password"],
	  input[type="search"],
	  input[type="number"],
	  input[type="tel"],
	  input[type="range"],
	  input[type="date"],
	  input[type="month"],
	  input[type="week"],
	  input[type="time"],
	  input[type="datetime"],
	  input[type="datetime-local"],
	  input[type="color"],
	  textarea,
	  select {
		  border-radius: 0;
		  width: 100%;
	  }
  }
  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_footer input[type=submit],
  .gform_wrapper .gform_page_footer input.button,
  .gform_wrapper .gform_page_footer input[type=submit] {
	  background: $color__brand;
	  color: $color__white;
	  border-radius: 10px;
	  padding: 10px 30px;
	  border: 2px solid $color__brand;
	  font-size: .8rem;
	  margin-top: 1rem;
	  &:hover {
		  background: $color__white;
		  color: $color__brand
	  }
  }
  .gform_wrapper select {
	  color: $color__gray;
  }
  
  
}
			