.block.double_color_cta {
	@extend .clearfix;
	padding: 0;
	position: relative;
	@media (max-width: $bp_phone) {
		min-height: 600px;
	}
	.outer-block-wrapper {
		width: 100%;
	}
	.inner-block-wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		@media (min-width: $bp_tablet) {
			flex-direction: row;
		}
	}

	.cta-wrap {

		width: 100%;
		//height: 100vh;
		//	max-height: 900px;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		//justify-content: flex-end;
		@media (min-width: $bp_tablet) {
			width: 50%;
		}
	}
	.cta-image {
		height: 50vw;
		max-height: 700px;
		min-height: 500px;
		flex-grow: 1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	//hey
	.cta-block {
		font-weight: bold;
		padding: .8rem;
		text-align: center;
		width: 100%;

		&.accent-orange {
			background-color: $color__orange-trans;
			background-color: $color__orange;
			.button {
				@include button-alt($color__orange);
			}
		}
		&.accent-purple {
			background-color: $color__purple-trans;
			background-color: $color__purple;
			.button {
				@include button-alt($color__purple);
			}
		}
		&.accent-yellow {
			background-color: $color__yellow-trans;
			background-color: $color__yellow;
			.button {
				@include button-alt($color__yellow);
			}
		}
		&.accent-green {
			background-color: $color__green-trans;
			background-color: $color__green;
			.button {
				@include button-alt($color__green);
			}
		}

		h2, p {
			color: white;
		}
		h2 {
			font-size: 1.9rem;
		}
		.cta-content {
			padding: 1em 0 0;

			font-size: .8rem;
			@media (max-width: $bp_tablet) {
				font-size: 16px;
			}
			p {
				line-height: 1.1;
				margin-bottom: .5em;
			}
		}

		p:last-child {
			//margin: 0;
		}
	}
}
			