/*
404
*/

.error404 {
	.site-content {
		padding: 4.125rem .75rem 6.125rem;
		text-align: center;
	}
	.outer-wrapper {
		@extend .container
	}
	.inner-wrapper {
		@extend .row;
	}
	.content-wrapper {
		@extend .col-md-12;
	}
	h1.page-title {
		font-size: 2.4rem;
		text-align: center;
		font-weight: 400;
		color: $color__gray;
	}
}