#colophon {
	margin-top: auto;
	padding: 2.4rem 0 1.6rem;
	background: $color__black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	address {
		color: $color__green;
		font-size: .8rem;
		line-height: 1.35;
		font-weight: bold;
		text-align: center;
	}
	#footer-menu {
		list-style: none;
		margin: 0;
		display: flex;
		align-items: center;
		align-self: center;
		justify-content: center;
		font-size: .52rem;
		padding: .64rem 0;
	}
	.menu-item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:not(:first-child):before {
			content: '|';
			color: white;
			font-weight: bold;
			//position: absolute;
			//left: -0.5px;
		}
		a {
			padding: 0 .64rem;
			color: white;
			text-align: center;

		}
	}
	.sub-menu {
		display: none;
	}
	.site-info {

		display: flex;
		align-items: center;
		align-self: center;
		justify-content: center;
	}
	.site-info, .site-info a {
		color: white;
		font-size: 11px;
		font-weight: normal;
	}
	.sep {
		padding: 10px;
	}
}
